<ion-header>
    <ion-toolbar color="primary">
      <ion-title>View Accrual</ion-title>
      <ion-buttons slot="start">
        <ion-back-button
          defaulthref="/AMS-Home"
          routerDirection="back"
        ></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-card>
    <ion-grid>
      <ion-row class="fontcolor fbold">
        <ion-col size="2">
          Agreement Number
        </ion-col>
        <ion-col size="2">
          Bucket ID
        </ion-col>
        <ion-col size="2">
          Sales Amount
        </ion-col>
        <ion-col size="2">
          Sales Quantity
        </ion-col>
        <ion-col size="2">
          Rebate
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row *ngFor="let accr of accrualheader"  (click)="navigate($event,accr)">
        <ion-col size="2">
          <ion-label>
            {{ accr.AgreementNumber }}
          </ion-label>
        </ion-col>
        <ion-col size="2">
          {{ accr.BucketId }}
        </ion-col>
        <ion-col size="2">
          {{ accr.Salesamount }}
        </ion-col>
        <ion-col size="2">
          {{ accr.Salesquantity }}
        </ion-col>
        <ion-col size="2">
          {{ accr.Rebate }}
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
