<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Create Agreement</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaulthref="/AMS-Home" routerDirection="back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- <app-header-agr></app-header-agr>
  <app-item></app-item>
  <app-tiersel></app-tiersel>
  <app-footer-agr></app-footer-agr> -->
  <!-- header -->
  <div>
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col col-4>
            <ion-label class="fbold">Agreement Type </ion-label>
            <ion-input [(ngModel)]="agreement_type" type="text" disabled="true" placeholder="Enter Agreement type"
              class="custom-input" maxlength="4"></ion-input>
          </ion-col>
          <ion-col col-4>
            <ion-label class="fbold">Valid From </ion-label>
            <ion-datetime [(ngModel)]="valid_from" placeholder="Enter Valid From" class="custom-input" width="10px"
              (ionChange)="ValidfromDate($event)"></ion-datetime>
            <!-- inline -->
            <!-- in the popup -->
            <!-- <input type="text" ngbDatepicker (dateSelect)="onDateSelect($event)"/> -->
          </ion-col>
          <ion-col col-4>
            <ion-label class="fbold">Valid To </ion-label>
            <ion-datetime [(ngModel)]="valid_to" type="date" placeholder="Enter Valid to" class="custom-input"
              (ionChange)="ValidtoDate($event)"></ion-datetime>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4>
            <ion-label class="fbold">Description </ion-label>
            <ion-input [(ngModel)]="agreement_desc" type="text" placeholder="Enter Description" class="custom-input">
            </ion-input>
          </ion-col>
          <ion-col col-4>
            <ion-label class="fbold">Currency</ion-label>
            <ion-input [(ngModel)]="Currency" disabled="true" placeholder="Enter Currency" class="custom-input"
              type="text" maxlength=3></ion-input>
          </ion-col>
          <ion-col col-4>
            <ion-label class="fbold">Calculation Basis</ion-label>
            <ion-input [(ngModel)]="calc_basis" type="text" placeholder="Enter Calculation Basis" disabled="true"
              class="custom-input" maxlength=1></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4>
            <ion-label class="fbold">Vendor </ion-label>
            <ion-select multiple="false" [(ngModel)]="selectedVendor" placeholder="Enter Vendor Name"
              (ionChange)="SetSelectedVendor($event)">
              <ion-select-option *ngFor="let data of VendorData" value="{{data.VendorNumber}}">
                {{data.VendorNumber + ' ' + data.VendorDescription}}
              </ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col col-4>
            <ion-label class="fbold">Settlement Partner </ion-label>
            <ion-select multiple="false" [(ngModel)]="selectedpart" placeholder="Enter Partner Number"
              (ionChange)="SetSelectedpart($event)">
              <ion-select-option *ngFor="let data of PartnerData" value="{{data.VendorNumber}}">
                {{data.VendorNumber + ' ' + data.VendorDescription}}</ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col col-4>
            <ion-label class="fbold">Settlement Calender</ion-label>
            <ion-input [(ngModel)]="calender" type="text" placeholder="Enter calender" class="custom-input"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <!-- <ion-col col-4>
                  <ion-label>Currency</ion-label>
                  <ion-input [(ngModel)] ="Currency"  placeholder="Enter Currency" class="custom-input" type="text" maxlength = 3></ion-input>
              </ion-col>   -->
        </ion-row>
        <!-- <ion-row >
                <ion-col col-12>
                    <ion-button class="btn">Next</ion-button>
                </ion-col>  
            </ion-row> -->
      </ion-grid>

      <!-- </ion-card-content> -->
    </ion-card>

  </div>
  <!-- end header -->

  <!-- item -->
  <div>
    <ion-card>
      <ion-card-header (click)="toggleitem()" class="blue headfont headw">
        <label>Items Detail</label>
        <ion-icon style="float: right;" name="arrow-dropdown"></ion-icon>
      </ion-card-header>
      <ion-card-content #itemCC class="cardCon" [hidden]="hide_item">
        <span class="txtcenter">Add item</span>
        <ion-list>
          <ion-row *ngFor="let row of item_rows ; let i = index ">
              <ion-col size="3"><ion-item>
                <ion-label [hidden]= "hide_dep">Department</ion-label>
                <ion-select [(ngModel)]="row.department" (ionChange)="selectedDepartment(i,$event)" >
                  <!-- placeholder = "Enter Department" > -->
                  <ion-select-option value="{{data.Department}}" *ngFor="let data of deptdata" id="dept + {{i}}">
                    {{data.Department + ' ' + data.Departmentdesc}}
                  </ion-select-option>
                </ion-select></ion-item>
              </ion-col>
            <ion-col ion-col size="3"><ion-item>
              <ion-label [hidden]="hide_idetail">Item Detail</ion-label>
              <ion-select multiple="true" [(ngModel)]="row.item" (ionChange)="selectedItem(i,$event)"
                (click)="getitem(i,row)">
                <ion-select-option value="{{item.ItemNumber}}" *ngFor="let item of row.ItemData" id="item+{{i}}">
                  {{item.ItemNumber + ' ' + item.Itemdesc}}
                </ion-select-option>
              </ion-select></ion-item>
            </ion-col>
            <ion-col size="2"><ion-item><ion-label>Valid From</ion-label>
              <ion-datetime value=" " ></ion-datetime></ion-item>
            </ion-col>
            <ion-col size="2"><ion-item><ion-label>Valid To</ion-label>
              <ion-datetime value=" "></ion-datetime></ion-item>
            </ion-col>
            <ion-col size="1">
              <ion-icon (click)="del(i)" name="close-circle"></ion-icon>
            </ion-col>
          </ion-row>

        </ion-list>
        <ion-button (click)="add()" size="small">Add</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
  <!-- end item -->

  <!-- teir select -->
  <div>
    <ion-card>
      <ion-card-header (click)="toggletier()" class="blue headfont headw">
        <label>Tier</label>
        <ion-icon style="float: right;" name="arrow-dropdown"></ion-icon>
      </ion-card-header>
      <ion-card-content #tierCC class="cardCon" [hidden]="hide_tier">
        <span class="txtcenter">Add tier</span>
        <ion-list>
          <!-- <ion-row *ngFor="let row of tier_rows ; let i = index "> -->
          <ion-row>

            <ion-col size="4">
              <ion-input [(ngModel)]="Fromvalue" required type="number" placeholder="From Value" class="custom-input">
              </ion-input>
            </ion-col>
            <ion-col ion-col size="4">
              <ion-input [(ngModel)]="Tovalue" required type="number" placeholder="To Value" class="custom-input">
              </ion-input>
            </ion-col>
            <ion-col size="3">
              <ion-input [(ngModel)]="Tierrate" required type="number" placeholder="Tier Rate" class="custom-input">
              </ion-input>
            </ion-col>
            <!-- <ion-col size = "1" >
              <ion-icon (click)="removeControl(i)" name="close-circle"></ion-icon>
            </ion-col> -->
          </ion-row>
          <!-- <ion-button  (click)="addControl()">Add Tier</ion-button> -->
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
  <!-- end tier select -->

  <!-- store start -->
  <div>
    <div>
      <ion-card>
        <ion-card-header (click)="togglestore()" class="blue headfont headw">
          <label>Store</label>
          <ion-icon style="float: right;" name="arrow-dropdown"></ion-icon>
        </ion-card-header>
        <ion-card-content #storeCC class="cardCon" [hidden]="hide_store">
          <span class="txtcenter">Add Store</span>
          <ion-list>
            <ion-row *ngFor="let row of store_rows ; let i = index ">
              <ion-col ion-col size="4"><ion-item><ion-label>Store</ion-label>
                <!-- <ion-input   type="text"  placeholder="Store" class="custom-input" (click)="Getstore()"></ion-input> -->
                <ion-select (ionChange)="selectedStore(i,$event)" >

                <!-- </ion-select>placeholder="Enter Store"> -->
                  <ion-select-option *ngFor="let str of storedata" id="str+{{i}}" type="number">
                    {{str.StoreID }}
                    <!-- + ' ' + str.StoreDescription}} -->
                  </ion-select-option>
                  <!-- <ion-select-option value="dog">Dog</ion-select-option> -->
                </ion-select></ion-item>
              </ion-col>
              <!-- <ion-col size = "2" >
                  <ion-input  type="text" placeholder="Description" class="custom-input"></ion-input>
              </ion-col> -->
              <ion-col size="1">
                <!-- <ion-checkbox [(ngModel)]="row.check" placeholder= "Selected"></ion-checkbox> -->
                <ion-icon (click)="removeControlstr(i)" name="close-circle"></ion-icon>
              </ion-col>

            </ion-row>
            <ion-button (click)="addControlstr()">Add Store</ion-button>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  <!-- end store seection -->
  <!-- start footer -->
  <div>
    <ion-card>
      <ion-card-header (click)="togglefoot()" class="blue headfont headw">
        <label>Attachments</label>
        <ion-icon style="float: right;" name="arrow-dropdown"></ion-icon>
      </ion-card-header>
      <ion-card-content #footCC class="cardCon" [hidden]="hide_foot">
        <!-- <ion-button expand="full" color="light" (click)="addControl()">Add Tier  -->
        <label>Add attachment</label> <br>
        <ion-input type="file" (ionChange)="getFileName($event)"></ion-input><br>
        <!-- <ion-button (click)="ShowReview()">Review</ion-button> -->
        <ion-button (click)="Submit()">Submit</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
  <!-- end footer -->
</ion-content>