<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Calculate Rebate</ion-title>
    <ion-buttons slot="start">
      <ion-back-button
        defaulthref="/AMS-Home"
        routerDirection="back"></ion-back-button>
      <!-- <ion-menu-button></ion-menu-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-content>
    <!-- <ion-card> -->
    <ion-button (click)="CalcRebate()">Post Accrual</ion-button>
    <!-- <div class="input-group">
      <input class="form-control" placeholder="yyyy-mm-dd"
             name="dp" [(ngModel)]="model" ngbDatepicker #date1> 
      <div class="input-group-append">
        <button class="btn btn-outline-secondary calendar" (click)="date1.toggle()" type="button"></button>
      </div>
    </div> -->
    <!-- </ion-card> -->
  </ion-content>
</ion-content>
