<ion-card>
  <ion-card-header (click)="toggleitem()"class="blue headfont headw"> 
    <label class="txtcenter">Items Detail</label>
     <ion-icon style="float: right;"name="arrow-dropdown"></ion-icon>
  </ion-card-header>
    <ion-card-content #itemCC class="cardCon"[hidden]="hide" >
    <!-- <ion-button expand="full" color="light" (click)="addControl()">Add Tier -->
      <span class="txtcenter">Add item</span>
      <ion-list>
        <ion-row *ngFor="let row of rows ; let i = index ">
          <ion-col ion-col size = "2" >
            <ion-input [(ngModel)] ="item" (input)="selitem()"   type="text"  placeholder="Item" class="custom-input" ></ion-input>
          </ion-col>
          <ion-col size = "2" >
              <ion-input [(ngModel)] ="row.department" type="text" placeholder="Department" class="custom-input"></ion-input>
          </ion-col>
          
          <ion-col size = "2" >
          <ion-datetime value=" " placeholder="ValidFrom"></ion-datetime>
           </ion-col>
           <ion-col size = "2" >
            <ion-datetime value=" " placeholder="ValidTo"></ion-datetime>
             </ion-col>
              <ion-col size = "1" >
                  <ion-icon (click)="del(i)" name="close-circle"></ion-icon>
               </ion-col>
        </ion-row>
        
        </ion-list>
        <ion-button (click) = "add()" size="small">Add</ion-button>    
    </ion-card-content>
  </ion-card>