<!-- <ion-header>
  <ion-toolbar>
    <ion-title>tiesel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->
<ion-card>
<ion-card-header (click)="toggletier()"class="blue headfont headw"> 
  <label class="txtcenter">Tier</label>
   <ion-icon style="float: right;"name="arrow-dropdown"></ion-icon>
</ion-card-header>
  <ion-card-content #tierCC class="cardCon"[hidden]="hide" >
    <span class="txtcenter">Add tier</span>
    <ion-list>
      <ion-row *ngFor="let row of rows ; let i = index ">
        <ion-col ion-col size = "4" >
          <ion-input [(ngModel)] ="row.tovalue" required type="number"  placeholder="To Value" 
           class="custom-input" ></ion-input>
        </ion-col>
        <ion-col size = "4" >
            <ion-input [(ngModel)] ="row.fromvalue" required type="number" placeholder="From Value" class="custom-input"></ion-input>
        </ion-col>
        <ion-col size = "3" >
            <ion-input [(ngModel)] ="row.tierrate" required type="number" placeholder="Tier Rate" class="custom-input"></ion-input>
        </ion-col>
        <ion-col size = "1" >
        <ion-icon (click)="removeControl(i)" name="close-circle"></ion-icon>
      </ion-col>
      </ion-row>
      <ion-button  (click)="addControl()">Add Tier</ion-button>
      </ion-list>
  </ion-card-content>
</ion-card>
      