<ion-content>
    <div class="ion-padding">
<ion-card >
    <ion-card-header >
        <ion-card-title class="txtcenter txttitle">AMS HOME</ion-card-title>
      </ion-card-header>
<ion-grid >
 <ion-row class="ion-justify-content-between">
  <ion-col size-md>
   <div> <ion-button class="h50" [routerLink]="['/create-agr']"> 
      <ion-icon slot="icon-only" name="paper" ></ion-icon>
          <label>&nbsp;&nbsp;&nbsp;&nbsp;Agreement <br>&nbsp;Request</label> 
      </ion-button></div>
  </ion-col>
  <!-- <ion-col></ion-col> -->
  <ion-col size-md >
    <div> <ion-button class="h50" >
    <ion-icon slot="icon-only" name="eye"></ion-icon>
    View Agreement
    </ion-button></div>
  </ion-col>
  <ion-col size-md >
    <div> <ion-button class="h50">
    <ion-icon slot="icon-only" name="eye"></ion-icon>
    View Accruals
    </ion-button>
  </div>
  </ion-col>
  <ion-col size-md >
    <div> <ion-button class="h50">
    <ion-icon slot="icon-only" name="eye"></ion-icon>
    View ..........
    </ion-button>
  </div>
  </ion-col>
</ion-row>
   
</ion-grid>
</ion-card>
</div></ion-content>
